<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Sous Categories</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink="/dashboard">Accueil</a></li>
            <li class="breadcrumb-item"><a routerLink="/categorie">Categories</a></li>
              <li class="breadcrumb-item active">Sous Categories</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div *ngIf="!OnLoud && !OnLoud1" >
    <mat-spinner class="center-spinner"></mat-spinner>
  </div>
  <div *ngIf="OnLoud && OnLoud1" >
  <div class="container-fluid">
    <!-- /.row -->

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title marge-en-haut">Liste des Sous Categories de Categorie {{NomCat}} </h3>
            <button type="button" data-toggle="modal" data-target="#user-modal" class="card-title btn btn-primary"
              style="float: right" class="btn btn-primary">
              Ajouter Sous Categorie
            </button>

          </div>

          <!-- /.card-header -->
          <div class="card-body table-responsive p-0">


            <mat-card class="w-100">
              <mat-card-content>
                <form >
                  <mat-form-field  style="float: right" >
                    <!-- <mat-label >Filter</mat-label> -->
                    <input matInput (keyup)="applyFilter($event)" class="marge-en-haut" placeholder="recherche" #input>
                    <mat-icon matSuffix>search</mat-icon>
                    <!-- #input tsakar el input -->
                  </mat-form-field>
              </form>
                <div class="table-responsive">

                  <table mat-table [dataSource]="datasource" matSort (matSortChange)="announceSortChange($event)" >
                    <!-- <table mat-table [dataSource]="dataSource" class="text-nowrap w-100"> -->

                    <!-- Id Column -->
                    <ng-container matColumnDef="id">
                      <th mat-header-cell mat-sort-header *matHeaderCellDef> Numéro </th>
                      <td mat-cell class="fw-medium" *matCellDef="let element; let i = index"> {{i+1}} </td>
                    </ng-container>

                    <!-- Nom Column -->
                    <ng-container matColumnDef="nomscategorie">
                      <th mat-header-cell mat-sort-header *matHeaderCellDef > Nom </th>
                      <td mat-cell *matCellDef="let element">{{ element.nomscategorie }}
                        <!-- <p class="mb-0 fw-normal op-5">{{ element.work }}</p> -->

                      </td>
                    </ng-container>




                    <!-- Action Column -->
                    <ng-container matColumnDef="action">
                      <th mat-header-cell *matHeaderCellDef> Action </th>
                      <td mat-cell *matCellDef="let element">
                        <!-- <p class="mb-0 fw-medium">{{element.action}}</p> -->

                        <!-- <button mat-mini-fab class="mb-8 me-8 yellow-button" >
                        <mat-icon aria-label="Example icon button with a edit icon">edit</mat-icon>
                        </button> &nbsp; -->
                        <button mat-mini-fab class="mb-8 me-8" color="warn" (click)="delete(element.id)" >
                          <mat-icon aria-label="Example icon button with a delete icon">archive</mat-icon>
                        </button>
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                    aria-label="Select page of periodic elements">
                  </mat-paginator>
                </div>
              </mat-card-content>
            </mat-card>


          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
    <!-- /.row -->
  </div>
</div>
  <!-- /.container-fluid -->
</section>
<!-- /.content -->

<!-- modal-->
<div class="modal fade" id="user-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" >Ajouter Categorie</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="closeModalAndResetForm()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="SouCategorieForm"  (ngSubmit)="onsub()" >
      <div class="modal-body">

          <div class="card-body">
            <div class="form-group">
              <label for="nomscategorie">Nom Sous Categorie</label>
              <input
                type="text"
                formControlName="nomscategorie"
                class="form-control"
                [ngClass]="{ 'is-invalid': errors.includes('nom') }"
                id="nomscategorie"
                placeholder="Nom Sous Categorie"
                (input)="clearError()"
                (focus)="onFocus()"
                (blur)="onBlur()"
              />

              <span
                id="nomscategorie-error"
                *ngIf="errors.includes('nom')"
                class="error invalid-feedback"
              >
                {{ formError.errorFornom }}
              </span>
              <label >Nom Categorie</label>
              <input
              type="text"
              class="form-control"
              value={{NomCat}}
              readonly
              >
              <input
                type="text"
                formControlName="categorieID"
                class="form-control"
                value={{idcourant}}
                id="categorieID"
                type="hidden"
              />
            </div>

          </div>
          <!-- /.card-body -->

      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" (click)="closeModalAndResetForm()"  data-dismiss="modal">
          Anuler
        </button>
        <button type="submit"  class="btn btn-primary">
          Create
        </button>

      </div>
    </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!--fin modal-->
