<!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-7">
                <div class="footer__about">
                    <div class="footer__logo">
                        <span class="logoSite"> BATA<span class="colLogo">A</span>.TN</span>
                    </div>
                    <p>
                        Découvrez notre plateforme d'enchères en ligne pour acquérir des produits informatiques, immobiliers et moyens de transport de qualité. Explorez une sélection diversifiée et participez à des enchères palpitantes en temps réel.</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-5"></div>

            <div class="col-lg-3 col-md-3 col-sm-5">
                <div class="footer__widget">
                    <h6>Pages</h6>
                    <div class="marTop1">
                        <ul>
                            <li><a href="/tousMt">Moyen de Transport</a></li>
                            <li><a href="/tousMI">Matériel Informatique</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4">
                <div class="footer__widget">
                    <div class="marTop2">
                        <ul>
                            <li><a href="/tousI">Immobilier</a></li>
                            <li><a href="#">Connexion</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                <div class="footer__copyright__text">
                  <!-- <span class="logoSite"> 2024 | BATA<span class="colLogo">A</span>.TN</span> -->
                    <p> &copy; 2024 | BATA<span class="colLogo1">A</span>.TN</p>
                </div>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->
